##Python for Data Analysis : Data Preprocessing with Pandas

# Join

Using two of the dataframes below, answer the questions :

In [ ]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
                   
df2=pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [ ]:
#import libraries here

### Create a dataframe (df3) which consists both dataframe inner-joined by column "Key" (5 pts)

In [ ]:
#code goes here

### Create a dataframe (df4) which consists of the result of df1 and df2 left-joined by column "Key" (10pts)

In [ ]:
#code goes here

#### 1. Replace key "K2" into "K3" on df1
#### 2. Left join it with df2 
(15pts)

In [ ]:
#code goes here

# Dataframe Processing

Create a dictionary and convert it to a dataframe called "Customer_df" (15 pts)


name=['Anna','Jason','Cindy']

age=['22','23','21']

gender=['F','M','F']

In [ ]:
#code goes here

### Delete the "age" column (5 pts)

In [ ]:
#code goes here

### Rename the "name" column into "first name" (10 pts)

In [ ]:
#code goes here

### Sort the dataframe by age, descending (10 pts)

In [ ]:
#code goes here

## Run the code below for data source and answer the following questions

In [ ]:
import pandas as pd
df=pd.read_csv('http://bit.ly/kaggletrain')

### Show top 10 rows of the dataset (5 pts)

In [ ]:
#code goes here

## Using data aggregation in pandas , Answer the question below:

Show the total amount of passengers who survived and not survived (10pts)

In [ ]:
#code goes here

Show all male survivors from titanic incident (10 pts)

In [ ]:
#code goes here

Show the average fare paid based on gender (10 pts)

In [ ]:
#code goes here

Show the total amount of passengers who survived and not survived based on gender (10pts)

In [ ]:
#code goes here