##Python for Data Analysis : Data Preprocessing with Pandas

# Join

Using two of the dataframes below, answer the questions :

In [18]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                   'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
                   
df2 = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})

In [19]:
#import libraries here
import pandas as pd

### Create a dataframe (df3) which consists both dataframe inner-joined by column "Key" (5 pts)

In [20]:
#code goes here
df3 = pd.merge(df1,df2,how='inner',on=['key','key'])
df3

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

### Create a dataframe (df4) which consists of the result of df1 and df2 left-joined by column "Key" (10pts)

In [21]:
#code goes here
df4 = pd.merge(df1,df2,how='left',on=['key','key'])
df4

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K2  A2   B2
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

#### 1. Replace key "K2" into "K3" on df1
#### 2. Left join it with df2 
(15pts)

In [23]:
#code goes here
replace = df1.replace(to_replace=['K2'],value='K3')
leftjoin = pd.merge(replace,df2,how='left',on=['key','key'])
leftjoin

  key   A    B
0  K0  A0   B0
1  K1  A1   B1
2  K3  A2  NaN
3  K3  A3  NaN
4  K4  A4  NaN
5  K5  A5  NaN

# Dataframe Processing

Create a dictionary and convert it to a dataframe called "Customer_df" (15 pts)


name=['Anna','Jason','Cindy']

age=['22','23','21']

gender=['F','M','F']

In [ ]:
#code goes here

### Delete the "age" column (5 pts)

In [ ]:
#code goes here

### Rename the "name" column into "first name" (10 pts)

In [ ]:
#code goes here

### Sort the dataframe by age, descending (10 pts)

In [ ]:
#code goes here

## Run the code below for data source and answer the following questions

In [25]:
import pandas as pd
df=pd.read_csv('http://bit.ly/kaggletrain')

### Show top 10 rows of the dataset (5 pts)

In [26]:
#code goes here
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

## Using data aggregation in pandas , Answer the question below:

Show the total amount of passengers who survived and not survived (10pts)

In [29]:
#code goes here
df.agg(['Survived'])

AttributeError: 'Survived' is not a valid function for 'Series' object

Show all male survivors from titanic incident (10 pts)

In [ ]:
#code goes here

Show the average fare paid based on gender (10 pts)

In [ ]:
#code goes here

Show the total amount of passengers who survived and not survived based on gender (10pts)

In [ ]:
#code goes here